section {
    header{
        .about {
            color: var(--secondary-700);
            font-weight: 700;
            font-size: 1rem;
        }
        .about__soberpal{
            color: var(--gray-500);
            line-height: 2rem;
        }
        .learn__more{
            color: var(--primary-500);
            font-weight: 400;
        }
    }
  .stats {
    margin-top: 6rem;
    background: var(--primary-50);
    height: auto;
    padding: 3rem;
    gap: 5rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    text-align: center;
    .hands {
      height: 30rem;
      width: 30rem;
      padding: 0 2rem;
    }
    .stats__content {
    
      & > p {
        color: var(--secondary-600);
        font-weight: 700;
      }
      & > h3 {
        color: var(--primary-500);
        font-weight: 700;
        font-size: 30px;
        width: auto;
        word-spacing: 0.79rem;
      }
      .stats__data-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-wrap: wrap;
        .stats__data {
          text-align: left;
          & > p {
            margin-bottom: 2rem;
            color: var(--primary-500);
          }
          .count {
            color: var(--secondary-600);
            font-weight: 700;
            font-size: 3rem;
            margin: 0;
          }
        }
      }
    }
  }
  .team{
    text-align: center;
    h3{
        color: var(--primary-500);
        font-weight: 700;
        font-size: 36px;
    }
    & > p{
        color: var(--secondary-600);
        font-weight: 400;
        line-height: 2rem;
        margin-top: -3rem;
    }
    .team__members{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .member{ 
            .avatar{
                transform: scale(.8);
                margin-bottom: -1rem;
            }
            .name{
                color: var(--primary-500);
                font-weight: 700;
                font-size: 1rem;
            }
            .designation{
                color: var(--primary-500);
                font-weight: 400;
                font-size: 1.2rem;
                margin-top: -1rem;
                margin-bottom: 1rem;
            }
        }
    }
  }
}

@media (min-width: 370px) {
    .stats{
        .stats__content{
            .stats__data-container{
                display: grid;
                grid-template-columns: 1fr;
            }
        }
    } 
  }
